/*====================================================================
                    共通
====================================================================*/
html {
    font-size: 10px;
}

body {
    position: relative;
    background-color: $c-01;
    color: $c-03;
    font-size: 1.6rem;
    line-height: 1.666;
    font-family: $ff-sans;
    padding-top: 107px;

    @include mq(md){
        padding-top: 147px;
    }

    @include mq(sm){
        padding-top: 65px;
    }
}

main {
    position: relative;
}

.inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 24px;

    &--narrow {
        max-width: 890px;
    }

    @include mq(sm){
        padding: 0 16px;
    }
}

.is-sp {
    display: none;
    @include mq(sm){
        display: block;
    }
}

.is-pc {
    display: block;

    @include mq(sm){
        display: none;
    }
}

[class$="__ttl"] {
    padding-top: 74px;
    margin-bottom: 45px;
    text-align: center;

    @include mq(sm){
        padding-top: 45px;
        margin-bottom: 24px;
    }
}

h2[class$="__ttlMain"] {
    font-size: 4.8rem;
    text-align: center;
    font-weight: bold;

    @include mq(sm){
        font-size: 2.8rem;
    }
}

@mixin ttl_deco($color) {
    position: relative;
    color: $color;
    margin: 0 auto 45px;
    text-align: center;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color;
        transform: translate(-50%, -50%);
        top: 75%;
        left: 50%;
    }

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 10px;
        transform: translate(-50%, -50%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0) 75%,rgba(255, 255, 255, 0) 100%);    
        top: 75%;
        left: 50%;
        z-index: 0;
    }

    @include mq(sm){
        &::before{
            top: 85%;
        }
        
        &::after{
            top: 85%;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 90%,rgba(255, 255, 255, 0) 100%);    
        }
    }
}

@mixin width_fit {
    width: fit-content;
}

@mixin btn ($fz,$ptb, $plr, $pl, $icn-w, $icn-h, $icn-l, $mm){    
    display: block;
    max-width: $mm;
    border-radius: 1em;
    border: 2px solid $c-02;
    padding: 2px;
    background-color: $c-01;
    text-decoration: none;

    &__inner {
        border-radius: .8em;
        background-color: $c-02;
        padding: $ptb $plr;
    }

    &__content {
        position: relative;
        padding-left: $pl;

        &::before{
            position: absolute;
            content: "";
            width: $icn-w;
            height: $icn-h;
            background-image: url("../img/index-icon-04.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
            top: 50%;
            left: $icn-l;
        }

        @include mq(sm){
            width: fit-content;
            margin: 0 auto;
        }
    }

    &__txt {
        color: $c-01;
        font-size: $fz;
        line-height: 1;

        &:last-child {
            margin-top: 4px;
            font-weight: bold;
            letter-spacing: .4em
        }
    }
}

//CV_btn
.cv {
    position: fixed;
    top: 25%;
    right: 5px;
    z-index: 999;
    width: fit-content;
    display: block;
    width: 100px;

    .btn {
        @include btn (1.9rem , 18px, 30px, 0, 34px, 34px, 25px, 107px);

        writing-mode: vertical-rl;
        text-orientation: upright;

        &__inner {
            padding-top: 65px;
            width: 99px;
        }

        &__content {
            &::before{
                top: -13%;
            }
        }

        &__txt {
            line-height: 1.3;
            &:last-child {
                display: flex;
                align-items: center;
                letter-spacing: 0;
                font-size: 1.8rem;

                span {
                    display: inline-block;
                    line-height: 1;
                    transform: rotate(90deg);
                }
            }
        }
    }

    @include mq(sm){
        top: auto;
        bottom: 10px;
        right: 100px;
        width: 250px;

        .btn {
            @include btn (1.4rem , 8px, 12px, 30px, 18px, 20px, 17px, 250px);
            writing-mode: horizontal-tb;
            text-orientation: mixed;

            &__inner {
                width: 242px;
            }

            &__txt {
                &:last-child {
                    font-size: 1.4rem;

                    span {
                        transform: rotate(00deg);
                    }
                }
            }
        }
    }
}


_::-webkit-full-page-media, _:future, :root .cv .btn__txt:last-child {
    letter-spacing: 5px;
}

// toTOP
.toTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 106px;
    height: 106px;
    border-radius: 25em;
    background-color: $c-02;
    z-index: 999;

    &__inner {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 52px;
    }

    span {
        position: relative;
        font-size: 2.4rem;
        color: $c-01;

        &::before{
            position: absolute;
            content: "";
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            background-color: $c-01;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
            left: 50%;
            top: -12px;
        }
    }

    @include mq(sm){
        right: 10px;
        bottom: 10px;
        width: 60px;
        height: 60px;

        &__inner {
            padding-top: 24px;
        }

        span {
            font-size: 1.2rem;

            &::before{
                width: 16px;
                height: 16px;
                top: -10px;
            }
        }
    }
}

// テキストの開業調整
.newLine {
    display: inline-block;
}

/*====================================================================
                    header
====================================================================*/

.header {
    $this: &;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
    background-color: $c-01;
    z-index: 1000;

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: bottom;
        width: 100%;
        max-width: 1225px;
        margin: 0 auto;
        padding: 16px 16px 20px;
    }

    &__logo {
        width: 300px;
        flex-grow: 0;
        display: flex;
        align-items: flex-end;

        a {
            
        }
    }

    &__nav {
        display: flex;
        align-items: baseline;
        transition: all .2s;
    }

    &__list {
        margin-top: auto;
        display: flex;
        gap: 26px;
        align-items: flex-end;
        list-style: none;
        padding: 0;

        @include mq(md){
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 14px 26px;
        }

        @include mq(sm){
            margin-top: 0;
        }
    }

    &__item {
        a {
            font-family: $ff-sans;
            color: #000;
            text-decoration: none;
            transition: opacity .2s;
            font-size: 1.4rem;
            font-weight: bold;
            color: $c-02;

            &:hover{
                opacity: .7;
            }
        }

        @include mq(md){
            color: red;
            @for $i from 1 to 6 {
                &:nth-child(#{$i}) {
                    order: $i + 1;
                }
            }
        }

        &--btn {
            
            @include mq(md){
                order: 1;
                width: 100%;
            }

            .btn {
                @include btn (1.5rem , 14px, 15px, 49px, 23px, 23px, 17px, 258px);
                
                width: 258px;

                @include mq(md){
                    margin-left: auto;
                }
                
                @include mq(sm){
                    @include btn (1.2rem , 8px, 12px, 30px, 18px, 20px, 17px, 100%);

                    width: 100%;
                    margin-left: auto;
                }
            }
        }
    }

    &__btn {
        border: none;
        background-color: inherit;
        position: relative;
        width: 24px;
        height: 16px;
        z-index: 11;

        &::after,
        &::before{
            position: absolute;
            content: "";
            transform: translate(0%, 0);
            left: 0;
            width: 24px;
            height: 2.5px;
            border-radius: 25em;
            background-color: $c-02;
            transition: transform .3s;
        }

        &::before{
            top: 0;
        }

        &::after{
            top: 100%;
        }
    }

    &__btnInner {
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 24px;
        height: 2.4px;
        border-radius: 25em;
        text-indent: 100%;
        overflow: hidden;
        background-color: $c-02;
        transition: opacity .3s;
    }

    @include mq(sm){
        &__inner {
            padding: 12px 16px;
            align-items: center;
        }

        &__logo {
            width: 200px;
        }

        &__nav {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: 0;
            right: -100%;
            bottom: 0;
            width: clamp(180px, 60vw, 350px);
            height: 100vh;
            background-color: $c-01;
            transform: translateX(0%);
        }

        &__list {
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            padding: 0 14px;
        }

        &.is-open {
            #{$this} {

                &__nav {
                    right: 0%;
                    z-index: 10;
                    box-shadow: -13px 0px 15px -19px #777777;
                }

                &__btn {
                    &::before{
                        transform: rotate(45deg) translate(0%, 0);
                        top: 50%;
                    }

                    &::after{
                        transform: rotate(-45deg) translate(0%, 0);
                        top: 50%;
                    }

                    #{$this} {
                        &__btnInner {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

/*====================================================================
                    main
====================================================================*/
//      mv
// ==========================================

.mv {
    background-image: url("../img/index-mv-01.png");
    background-size: cover;
    background-position: center 0;
    
    @include mq(sm){
        background-image: url("../img/index-mv-02.png");
        background-position: 70% 0;
    }

    &__inner {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 69px 10px;
        
        @include mq(sm){
            padding: clamp(42px, 11.2vw, 65px) 10px;
        }
    }

    &__hdg {
        @include line-height(78, 85);

        font-size: 7.5rem;
        color: $c-02;
        font-family: $ff-serif;
        letter-spacing: 5px;

        @include mq(sm){
            font-size: clamp(40px, 10.67vw, 48px);
        }
    }
    
    &__txt {
        margin-top:  110px;
        font-family: $ff-serif;

        @include mq(sm){
            margin-top: 14.32vw;
        }
    }

    &__txtItem {
        @include line-height(30, 58) ;

        display: block;
        width: fit-content;
        padding: 0 4px 4px;
        font-size: 3.0rem;
        background-color: rgba(40, 60, 84, .7);
        color: $c-01;
        letter-spacing: 1px;

        @include mq(sm){
            font-size: clamp(18px, 4.33vw, 24px);
        }

        &+& {
            margin-top: 16px;
        }
    }
}

//      lead
// ==========================================
.lead {
    .inner {
        padding-top: 79px;
        padding-bottom: 64px;
        background-image: url("../img/index-bg-01.png");
        background-position: center 10px;
        background-size: cover;
    }

    &__txt {
        @include line-height(24, 48);
        
        text-align: center;
        font-size: 2.4rem;

        @include mq(sm){
            font-size: 1.8rem;
        }
    }
}


//      worry
// ==========================================

.worry {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(249,248,248,1) 30%, rgba(237,234,234,1) 100%);
    overflow: hidden;
    
    .inner {
        position: relative;
    }

    &__hdg {
        position: relative;
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
        background-color: $c-02;
        padding: 28px 16px 60px;
        color: $c-01;
        
        @include mq(sm){
            text-align: center;
            padding: 28px 16px 44px;
        }
    }

    &__deco {
        position: absolute;
        transform: translate(0%, -50%);
        top: 42%;
        left: calc(50% - 320px);
        font-size: 4.8rem;

        &::after{
            position: absolute;
            content: "";
            width: 140px;
            height: 18px;
            background-image: url("../img/index-img-21.png");
            background-position:  center;
            background-size: contain;
            background-repeat: no-repeat;
            left: 0;
            bottom: -10px;
        }

        @include mq(sm){
            position: relative;
            margin: 0 auto;
            top: auto;
            left: auto;
            font-size: 2.4rem;

            &::after{
                width: 70px;
            }
        }
    }

    &__hdgMain {
        @include line-height(38, 50);

        width: fit-content;
        margin: 0 auto 0 36%;

        @include mq(sm){
            margin-left: 0;
            width: 100%;
        }
    }

    &__hdgContent {
        font-size: 5rem;

        @include mq(sm){
            font-size: 2.8rem;
            margin-top: 16px;
        }
    }

    &__hdgPoint {
        font-size: 7.2rem;
        padding-top: 30px; // 文字とドットの距離
        background-position: top left -2px; // ドットの位置微調整
        background-repeat: repeat-x; // ドットをどの方向に設定するか
        background-size: 1em 1em; // 繰り返す頻度
        background-image: radial-gradient($c-01 12%, transparent 12%); // ドットの大きさと色
        
        @include mq(sm){
            font-size: 3.8rem;
            padding-top: 14px;
            background-image: radial-gradient($c-01 8%, transparent 8%); // ドットの大きさと色
        }
    }

    &__lyt {
        display: flex;
        max-width: 742px;
        width: 100%;
        margin: 30px auto 0;
        gap: 20px;
        padding: 0 50px;

        @include mq(sm){
            flex-direction: column;
            padding: 0;
        }
    }

    &__content {
        width: 100%;
        padding-bottom: 52px;

        &::before{
            position: absolute;
            content: "";
            width: 383px;
            height: 459px;
            bottom: 0;
            background-size: contain;
            background-position: 0 100%;
            background-repeat: no-repeat;
        }
        
        &:first-child {
            &::before{
                background-image: url("../img/index-img-01.png");
                left: -53px;
                width: 383px;
                width: clamp(150px, 29.92vw, 383px);
                height: 459px;
            }
        }

        &:last-child {
            &::before{
                background-image: url("../img/index-img-02.png");
                right: -51px;
                width: 341px;
                width: clamp(140px, 26.64vw,341px);
                height: 389px;
            }
        }

        @include mq(sm){
            position: relative;

            &:first-child {
                padding-left: 50px;
            }

            &:last-child {
                padding-right: 50px;
            }
        }
    }
    
    &__item {
        @include line-height(20,37);

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 100%;
        height: 230px;
        padding: 14px 16px 12px;
        font-size: 2.0rem;
        background-image: url("../img/index-img-23.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;


        &+& {
            margin-top: 14px;
        }

        @include mq(sm){
            font-size: 1.6rem;
            height: 190px;

            &+& {
                margin-top: 0;
            }
        }
    }

    &__underLine {
        position: relative;

        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: -10px;
            background-color: $c-10;
            width: 100%;
            height: 10px;
            border-radius: 8px;
        }
    }
}

//      about
// ==========================================
.about {
    &__ttl {
        text-align: center;
        font-size: 4.8rem;
        color: $c-02;
        font-weight: bold;
    }

    &__media {
        margin-top: 24px;
    }

    &__content {
        position: relative;
        border: 3px solid $c-02;
        border-radius: 3px;
        box-shadow: 5.035px 6.217px 5.7px 0.3px rgba(0, 0, 0, 0.42);
        padding: 40px 42px;
        margin-bottom: 89px;

        @include mq(sm){
            padding: 32px 18px;
            margin-bottom: 60px;
            margin-top: 40px;
        }
    }

    &__contentHdg {
        position: absolute;
        transform: translate(0%, -50%);
        left: 0;
        top: 0;
        width: 260px;
        text-align: center;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    }

    &__contentHdgMain {
        position: relative;
        font-size: 2.4rem;
        color: $c-11;

        &::after,
        &::before{
            position: absolute;
            content: "";
            width: 116px;
            height: 102px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transform: translate(-50%, -50%);
            top: 50%;
        }

        &::after{
            left: 72px;
            background-image: url("../img/index-img-04.png");
        }

        &::before{
            right: -55px;
            background-image: url("../img/index-img-05.png");
            width: 130px;
        }
    }

    &__txt {
        @include mq(sm){
            font-size: 1.4rem;
        }
    }
}

//      cause
// ==========================================
.cause {
    position: relative;
    background-image: url("../img/index-img-22.png");
    background-position: center;
    background-size: cover;
    
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url("../img/index-bg-02.png");
        left: 0;
        top: 0;
    }

    .inner {
        position: relative;
        z-index: 1;
    }
    
    &__deco {
        position: absolute;
        background-image: url("../img/index-img-06.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 80px 60px;
        top: 30px;
        left: -143px;

        @include mq(sm){
            background-image: url("../img/index-img-06-sp.png");
            top: -3%;
            left: 0;
            width: clamp(150px, 60vw, 300px);
            box-sizing: border-box;
        }
    }

    &__decoTxt {
        display: block;
        width: fit-content;
        color: $c-12;
        font-weight: bold;
        font-size: 2.4rem;
        transform: rotate(-15deg);

        &>span {
            &::after{
                content: "";
                display: inline-block;
                width: 0;
                color: transparent;
                pointer-events: none;
            }
        }


        @include mq(sm){
            font-size: 1.4rem;
            transform: rotate(0);
            width: 84px;
            margin: 0 auto;
        }
        
    }

    &__ttl {
        color: $c-01;
        padding-left: 90px;

        @include mq(sm){
            padding-top: 120px;
            padding-left: 0;
        }
    }

    &__desc {
        color: $c-01;
        font-size: 2.4rem;
        text-align: center;
        font-weight: bold;
        
        @include mq(sm){
            font-size: 1.6rem;
        }
    }

    &__card {
        display: flex;
        gap: clamp(20px, 3.44vw, 44px);
        padding-bottom: 67px;
        margin-top: 40px;

        @include mq(sm){
            margin-top: 24px;
            flex-direction: column;
            gap: 12px;
        }
    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__media {
        position: relative;
        padding: 0 26px;

        @include mq(sm){
            max-width: 300px;
            margin: 0 auto;
        }
    }

    &__name {
        position: absolute;
        font-size: 1.8rem;
        font-weight: bold;

        &--01 {
            color: $c-02;
            top: 11%;
            right: 28%;
        }

        &--02 {
            color: $c-01;
            top: 35%;
            right: 20%;
        }

        &--03 {
            color: $c-01;
            top: 14%;
            right: 23%;
        }
    }

    &__txtBox {
        padding: 40px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        height: 100%;
        margin-top: -30px;
        background-color: rgba(255, 255, 255, .6);

        p {
            width: 100%;
        }
    }
}

//      diag
// ==========================================

.diag {
    $this: &;
    padding-bottom: 80px;

    &__ttl {
        @include ttl_deco($c-02);

    }

    &__ttlMain {
        position: relative;
        z-index: 1;
    }

    &__lyt {
        display: flex;
        gap: 4px;

        &+& {
            margin-top: 40px;
        }

        @include mq(sm){
            flex-direction: column;

            &+& {
                margin-top: 16px;
            }
        }
    }

    &__content {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $c-06;
        padding: 24px;

        @include mq(sm){
            width: 100%;
            padding: 16px;
            font-size: 1.4rem;
        }
    }

    &__media {
        display: flex;
        align-items: center;
        width: 50%;
        min-height: 400px;
        padding-bottom: 45px;
        
        @include mq(sm){
            width: 100%;
            min-height: 0;
            justify-content: center;
        }
    }
    
    &__mediaBg {
        position: relative;

        &::after{
            position: absolute;
            content: "";
            width: 80%;
            padding-top: 75%;
            border-radius: 3px;
            border: 10px solid $c-02;
            bottom: -45px;
        }
    }

    &__img {
        position: relative;
        z-index: 1;
        display: block;
        width: 89%;
        margin-left: auto;
    }

    &__lyt--reverse {
        flex-direction: row-reverse;

        #{$this} {
            &__img {
                margin-right: auto;
                margin-left: 0;
            }

            &__mediaBg {
                &::after{
                    right: 0;
                }
            }
        }

        @include mq(sm){
            flex-direction: column;
        }
    }

    &__message{
        @include line-height(24, 48);

        position: relative;
        text-align: center;
        font-size: 2.4rem;
        margin-top: 100px;
        margin-bottom: -30px;
        padding-bottom: 11.982570806100219%;

        &::after{
            position: absolute;
            content: "";
            width: 100%;
            padding-top: 11.982570806100219%;
            background-image: url("../img/index-img-15.png");
            background-size: cover;
            margin-top: -30px;
            bottom: 0;
            left: 0;
        }

        @include mq(sm){
            margin-top: 40px;
            font-size: 1.6rem;
        }
    }

    &__box {
        margin-top: 20px;
        background-color: $c-02;
        padding: 14px;
    }

    &__boxInner {
        display: flex;
        border: 3px dotted $c-07;
        color: $c-01;

        @include mq(sm){
            flex-direction: column;
        }
    }

    &__column {
        width: 48%;
        background-image: url("../img/index-img-17.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: right;

        @include mq(sm){
            width: 100%;
            max-width: 310px;
            margin: 0 auto;
        }
    }

    &__columnHdg {
        @include line-height(22, 37);

        margin-top: 15px;
        margin-left: 20px;
        background-image: url("../img/index-img-16.png");
        background-position: bottom left;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 2.2rem;
        padding-bottom: 8px;
        max-width: 158px;
    }

    &__boxTxt {
        @include line-height(16, 32);

        width: 52%;
        padding: 32px 56px;
        
        @include mq(sm){
            width: 100%;
            padding: 18px;
        }
    }
}

//      intro
// ==========================================
.intro {
    background-color: $c-08;
    padding-bottom: 83px;
    overflow: hidden;

    @include mq(sm){
        padding-bottom: 60px;
    }

    &__ttl {
        @include ttl_deco($c-09);

        &::after{
            background: linear-gradient(90deg, rgba(237, 234, 230, 0) 0%, rgba(237, 234, 230, 0) 20%, rgba(237, 234, 230, 1) 35%, rgba(237, 234, 230, 1) 65%, rgba(237, 234, 230, 0) 75%,rgba(237, 234, 230, 0) 100%);    
        }
    }

    &__ttlMain {
        position: relative;
        z-index: 1;
    }

    &__slider {
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }
    
    &__sliderInner {
    }
    
    &__listWrap {
        display: flex;
        overflow: hidden;
    }

    &__list {
        display: flex;
        animation: slider 15s infinite linear;
        width: 100vw;
    }

    &__item {
        width: calc(100vw / 4);
        padding-right: 24px;
        
        @include mq(sm){
            width: calc(100vw / 3);
            padding-right: 8px;
        }
    }

    @keyframes slider {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0%);
        }
    }
}

//      faq
// ==========================================
.faq {
    $this : &;

    padding-bottom: 90px;

    &__ttl{
        @include ttl_deco($c-02);
    }

    &__ttlMain {
        position: relative;
        z-index: 1;
    }
    
    &__contents {

    }

    &__list {

    }

    &__item {
        transition: height .3s;
        height: 100%;

        &+&{
            margin-top: 10px;
        }
        
    }

    //faqのQとA
    &__q,
    &__a {
        text-align-last: left;
    }
    
    &__itemInner {
        display: block;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 3px;
        border: 4px solid $c-13;
        background-color: $c-13;
        width: 100%;

        @include mq(sm){
            padding: 12px 16px;
        }
    }

    &__inner {
        display: flex;
    }
    

    &__icn {
        width: 100px;
        margin-right: 43px;
        border-right: 4px solid $c-01;
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;

        span {
            display: inline-block;
            text-align: left;
            color: $c-01;
            font-size: 4.8rem;
            font-weight: bold;
            font-family: $ff-sans;
            line-height: 1;
        }

        @include mq(sm){
            margin-right: 16px;
            width: 45px;
            border-right: 2px solid $c-01;

            span {
                font-size: 2.4rem;
                line-height: 1.2;
            }
        }
    }

    &__txt {
        position: relative;
        display: flex;
        align-items: center;
        color: $c-01;
        padding-right: 150px;
        width: 100%;
        font-size: 2.0rem;

        @include mq(sm){
            padding-right: 20px;
            font-size: 1.4rem;
        }
    }

    &__q {
        position: relative;

        &::after{
            position: absolute;
            content: "";
            clip-path: polygon(100% 0, 0 0, 50% 100%);
            background-color: $c-01;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -50%);
            right: 45px;
            top: 50%;
            transition: transform .2s linear;
        }

        @include mq(sm){
            &::after{
                right: 15px;
            }
        }

        #{$this} {
            &__itemInner {
                cursor: pointer;
            }
        }
    }

    &__a {
        overflow: hidden;

        * {
            transition: 
            border-top .2s ease-out,
            border-bottom .2s ease-out,
            padding-top .2s ease-out,
            padding-bottom .2s ease-out,
            margin-top .2s ease-out,
            margin-bottom .2s ease-out,
            opacity .2s linear ,
            visibility .2s linear;
        }

        #{$this} {
            &__itemInner {
                margin-top: 10px;
                background-color: $c-01;
            }

            &__icn {
                border-color: $c-13;

                span {
                    color: $c-13;
                }
            }

            &__txt {
                color: $c-13;
            }
        }
    }

    &__item {
        &.js-faqOpen {
            #{$this}__q {
                &::after{
                    transform: rotate(180deg) translate(50%, 50%);
                }
            }
        }

        &.js-faqClose {
            #{$this}__a {
                * {
                    border-top: 0 !important;
                    border-bottom: 0!important;
                    padding-top: 0!important;
                    padding-bottom: 0!important;
                    margin-top: 0!important;
                    margin-bottom: 0!important;
                    line-height: 0!important;
                    opacity: 0!important;
                    visibility: hidden!important;
                }
            }
        }
    }
}

//      access
// ==========================================
.access {
    background-color: $c-08;
    padding-bottom: 83px;

    @include mq(sm){
        padding-bottom: 60px;
    }

    &__ttl {
        @include ttl_deco($c-09);

        &::after{
            background: linear-gradient(90deg, rgba(237, 234, 230, 0) 0%, rgba(237, 234, 230, 0) 20%, rgba(237, 234, 230, 1) 35%, rgba(237, 234, 230, 1) 65%, rgba(237, 234, 230, 0) 75%,rgba(237, 234, 230, 0) 100%);    
        }
    }

    &__ttlMain {
        position: relative;
        z-index: 1;
    }

    &__lyt {
        display: flex;

        @include mq(sm){
            flex-direction: column;
            gap: 12px;
        }
    }

    &__content {
        width: calc(50% - 24px);
        margin-right: 24px;

        @include mq(sm){
            width: 100%;
            margin-right: 0;
        }
    }

    &__hdg {
        width: 320px;

        @include mq(sm){
            margin: 0 auto;
        }
    }

    &__info {
        position: relative;
        margin-top: 34px;
        padding-left: 45px;

        &+& {
            margin-top: 45px;
        }

        &::before{
            position: absolute;
            content: "";
            width: 28px;
            height: 28px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
        }

        &.address {
            &::before{
                background-image: url("../img/index-icon-02.png");
                width: 29px;
                height: 25px;
            }
        }

        &.time {
            &::before{
                background-image: url("../img/index-icon-03.png");
                width: 28px;
                height: 28px;
                top: 25px;
            }
        }

        @include mq(sm){
            &+& {
                margin-top: 16px;
            }
        }
    }

    &__btn {
        margin-top: 29px;

        .btn {
            @include btn (2.2rem , 28px, 30px, 65px, 35px, 38px, 21px, 380px);

            min-width: 380px;
        }
        
        @include mq(sm){
            margin-top: 16px;

            .btn {
                @include btn (1.6rem , 14px, 18px, 45px, 25px, 28px, 21px, 100%);
    
                min-width: 0;
            }
        }
    }

    &__media {
        width: 50%;

        iframe {
            width: 100%;
            height: 100%;
        }

        @include mq(sm){
            width: 100%;
            height: 300px;
        }
    }
}

//      footer
// ==========================================

.footer {
    padding: 45px;
    text-align: center;
    background-color: $c-02;

    &__copylight {
        color: $c-01;
        font-size: 1.4rem;
    }
}