$breakpoints: (
//キー  値
    'xs': 'screen and (max-width: 376px)',
    'sm': 'screen and (max-width: 768px)', //767px以下（スマホ）用の表示
    'md': 'screen and (max-width: 1025px)', //1024px以上（タブレット・PC）用の表示
    'xl': 'screen and (min-width: 1026px)'

) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
//map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
    }
}
@include mq(md){
    .is-sp{
        display: none;
    }
}
@include mq(sm){
    .is-pc{
        display: none;
    }
}

@mixin hover {
    &:hover,
    &:active, 
    &:focus{
        @content;
    }
}

// line-height
@mixin line-height($font-size, $height) {
    line-height: calc(#{$height} / #{$font-size});
}

/*====================================================================
                    color
====================================================================*/
$c-01: #fff;
$c-02: #283c54;
$c-03: #333;
$c-04: #b6becb;
$c-05: #f7ded7;
$c-06: #e7f2fa;
$c-07: #536c8b;
$c-08: #edeae6;
$c-09: #6a6454;
$c-10: #8b97a7;
$c-11: #82623e;
$c-12: #6f2632;
$c-13: #7b90aa;

//font-family
$ff-sans: 'Noto Sans JP', sans-serif;
$ff-serif: 'Noto Serif JP', 'Noto Sans JP', sans-serif;






