@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline; }

header, footer, nav, section, article, aside, figure, figcaption {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  list-style-type: none; }

img {
  width: 100%;
  vertical-align: bottom; }

@media screen and (max-width: 1080px) {
  .is-sp {
    display: none; } }

@media screen and (max-width: 768px) {
  .is-pc {
    display: none; } }

/*====================================================================
                    color
====================================================================*/
/*====================================================================
                    共通
====================================================================*/
html {
  font-size: 10px; }

body {
  position: relative;
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.666;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 107px; }
  @media screen and (max-width: 1080px) {
    body {
      padding-top: 147px; } }
  @media screen and (max-width: 768px) {
    body {
      padding-top: 65px; } }

main {
  position: relative; }

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px; }
  .inner--narrow {
    max-width: 890px; }
  @media screen and (max-width: 768px) {
    .inner {
      padding: 0 16px; } }

.is-sp {
  display: none; }
  @media screen and (max-width: 768px) {
    .is-sp {
      display: block; } }

.is-pc {
  display: block; }
  @media screen and (max-width: 768px) {
    .is-pc {
      display: none; } }

[class$="__ttl"] {
  padding-top: 74px;
  margin-bottom: 45px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    [class$="__ttl"] {
      padding-top: 45px;
      margin-bottom: 24px; } }

h2[class$="__ttlMain"] {
  font-size: 4.8rem;
  text-align: center;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    h2[class$="__ttlMain"] {
      font-size: 2.8rem; } }

.cv {
  position: fixed;
  top: 25%;
  right: 5px;
  z-index: 999;
  width: fit-content;
  display: block;
  width: 100px; }
  .cv .btn {
    display: block;
    max-width: 107px;
    border-radius: 1em;
    border: 2px solid #283c54;
    padding: 2px;
    background-color: #fff;
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: upright; }
    .cv .btn__inner {
      border-radius: .8em;
      background-color: #283c54;
      padding: 18px 30px; }
    .cv .btn__content {
      position: relative;
      padding-left: 0; }
      .cv .btn__content::before {
        position: absolute;
        content: "";
        width: 34px;
        height: 34px;
        background-image: url("../img/index-icon-04.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 25px; }
      @media screen and (max-width: 768px) {
        .cv .btn__content {
          width: fit-content;
          margin: 0 auto; } }
    .cv .btn__txt {
      color: #fff;
      font-size: 1.9rem;
      line-height: 1; }
      .cv .btn__txt:last-child {
        margin-top: 4px;
        font-weight: bold;
        letter-spacing: .4em; }
    .cv .btn__inner {
      padding-top: 65px;
      width: 99px; }
    .cv .btn__content::before {
      top: -13%; }
    .cv .btn__txt {
      line-height: 1.3; }
      .cv .btn__txt:last-child {
        display: flex;
        align-items: center;
        letter-spacing: 0;
        font-size: 1.8rem; }
        .cv .btn__txt:last-child span {
          display: inline-block;
          line-height: 1;
          transform: rotate(90deg); }
  @media screen and (max-width: 768px) {
    .cv {
      top: auto;
      bottom: 10px;
      right: 100px;
      width: 250px; }
      .cv .btn {
        display: block;
        max-width: 250px;
        border-radius: 1em;
        border: 2px solid #283c54;
        padding: 2px;
        background-color: #fff;
        text-decoration: none;
        writing-mode: horizontal-tb;
        text-orientation: mixed; }
        .cv .btn__inner {
          border-radius: .8em;
          background-color: #283c54;
          padding: 8px 12px; }
        .cv .btn__content {
          position: relative;
          padding-left: 30px; }
          .cv .btn__content::before {
            position: absolute;
            content: "";
            width: 18px;
            height: 20px;
            background-image: url("../img/index-icon-04.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 17px; } }
      @media screen and (max-width: 768px) and (max-width: 768px) {
        .cv .btn__content {
          width: fit-content;
          margin: 0 auto; } }
  @media screen and (max-width: 768px) {
        .cv .btn__txt {
          color: #fff;
          font-size: 1.4rem;
          line-height: 1; }
          .cv .btn__txt:last-child {
            margin-top: 4px;
            font-weight: bold;
            letter-spacing: .4em; }
        .cv .btn__inner {
          width: 242px; }
        .cv .btn__txt:last-child {
          font-size: 1.4rem; }
          .cv .btn__txt:last-child span {
            transform: rotate(0deg); } }

_::-webkit-full-page-media, _:future, :root .cv .btn__txt:last-child {
  letter-spacing: 5px; }

.toTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 106px;
  height: 106px;
  border-radius: 25em;
  background-color: #283c54;
  z-index: 999; }
  .toTop__inner {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 52px; }
  .toTop span {
    position: relative;
    font-size: 2.4rem;
    color: #fff; }
    .toTop span::before {
      position: absolute;
      content: "";
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: #fff;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      left: 50%;
      top: -12px; }
  @media screen and (max-width: 768px) {
    .toTop {
      right: 10px;
      bottom: 10px;
      width: 60px;
      height: 60px; }
      .toTop__inner {
        padding-top: 24px; }
      .toTop span {
        font-size: 1.2rem; }
        .toTop span::before {
          width: 16px;
          height: 16px;
          top: -10px; } }

.newLine {
  display: inline-block; }

/*====================================================================
                    header
====================================================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  z-index: 1000; }
  .header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 100%;
    max-width: 1225px;
    margin: 0 auto;
    padding: 16px 16px 20px; }
  .header__logo {
    width: 300px;
    flex-grow: 0;
    display: flex;
    align-items: flex-end; }
  .header__nav {
    display: flex;
    align-items: baseline;
    transition: all .2s; }
  .header__list {
    margin-top: auto;
    display: flex;
    gap: 26px;
    align-items: flex-end;
    list-style: none;
    padding: 0; }
    @media screen and (max-width: 1080px) {
      .header__list {
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 14px 26px; } }
    @media screen and (max-width: 768px) {
      .header__list {
        margin-top: 0; } }
  .header__item a {
    font-family: "Noto Sans JP", sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .2s;
    font-size: 1.4rem;
    font-weight: bold;
    color: #283c54; }
    .header__item a:hover {
      opacity: .7; }
  @media screen and (max-width: 1080px) {
    .header__item {
      color: red; }
      .header__item:nth-child(1) {
        order: 2; }
      .header__item:nth-child(2) {
        order: 3; }
      .header__item:nth-child(3) {
        order: 4; }
      .header__item:nth-child(4) {
        order: 5; }
      .header__item:nth-child(5) {
        order: 6; } }
  @media screen and (max-width: 1080px) {
    .header__item--btn {
      order: 1;
      width: 100%; } }
  .header__item--btn .btn {
    display: block;
    max-width: 258px;
    border-radius: 1em;
    border: 2px solid #283c54;
    padding: 2px;
    background-color: #fff;
    text-decoration: none;
    width: 258px; }
    .header__item--btn .btn__inner {
      border-radius: .8em;
      background-color: #283c54;
      padding: 14px 15px; }
    .header__item--btn .btn__content {
      position: relative;
      padding-left: 49px; }
      .header__item--btn .btn__content::before {
        position: absolute;
        content: "";
        width: 23px;
        height: 23px;
        background-image: url("../img/index-icon-04.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 17px; }
      @media screen and (max-width: 768px) {
        .header__item--btn .btn__content {
          width: fit-content;
          margin: 0 auto; } }
    .header__item--btn .btn__txt {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1; }
      .header__item--btn .btn__txt:last-child {
        margin-top: 4px;
        font-weight: bold;
        letter-spacing: .4em; }
    @media screen and (max-width: 1080px) {
      .header__item--btn .btn {
        margin-left: auto; } }
    @media screen and (max-width: 768px) {
      .header__item--btn .btn {
        display: block;
        max-width: 100%;
        border-radius: 1em;
        border: 2px solid #283c54;
        padding: 2px;
        background-color: #fff;
        text-decoration: none;
        width: 100%;
        margin-left: auto; }
        .header__item--btn .btn__inner {
          border-radius: .8em;
          background-color: #283c54;
          padding: 8px 12px; }
        .header__item--btn .btn__content {
          position: relative;
          padding-left: 30px; }
          .header__item--btn .btn__content::before {
            position: absolute;
            content: "";
            width: 18px;
            height: 20px;
            background-image: url("../img/index-icon-04.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 17px; } }
    @media screen and (max-width: 768px) and (max-width: 768px) {
      .header__item--btn .btn__content {
        width: fit-content;
        margin: 0 auto; } }
    @media screen and (max-width: 768px) {
        .header__item--btn .btn__txt {
          color: #fff;
          font-size: 1.2rem;
          line-height: 1; }
          .header__item--btn .btn__txt:last-child {
            margin-top: 4px;
            font-weight: bold;
            letter-spacing: .4em; } }
  .header__btn {
    border: none;
    background-color: inherit;
    position: relative;
    width: 24px;
    height: 16px;
    z-index: 11; }
    .header__btn::after, .header__btn::before {
      position: absolute;
      content: "";
      transform: translate(0%, 0);
      left: 0;
      width: 24px;
      height: 2.5px;
      border-radius: 25em;
      background-color: #283c54;
      transition: transform .3s; }
    .header__btn::before {
      top: 0; }
    .header__btn::after {
      top: 100%; }
  .header__btnInner {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 24px;
    height: 2.4px;
    border-radius: 25em;
    text-indent: 100%;
    overflow: hidden;
    background-color: #283c54;
    transition: opacity .3s; }
  @media screen and (max-width: 768px) {
    .header__inner {
      padding: 12px 16px;
      align-items: center; }
    .header__logo {
      width: 200px; }
    .header__nav {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      top: 0;
      right: -100%;
      bottom: 0;
      width: clamp(180px, 60vw, 350px);
      height: 100vh;
      background-color: #fff;
      transform: translateX(0%); }
    .header__list {
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      padding: 0 14px; }
    .header.is-open .header__nav {
      right: 0%;
      z-index: 10;
      box-shadow: -13px 0px 15px -19px #777777; }
    .header.is-open .header__btn::before {
      transform: rotate(45deg) translate(0%, 0);
      top: 50%; }
    .header.is-open .header__btn::after {
      transform: rotate(-45deg) translate(0%, 0);
      top: 50%; }
    .header.is-open .header__btn .header__btnInner {
      opacity: 0; } }

/*====================================================================
                    main
====================================================================*/
.mv {
  background-image: url("../img/index-mv-01.png");
  background-size: cover;
  background-position: center 0; }
  @media screen and (max-width: 768px) {
    .mv {
      background-image: url("../img/index-mv-02.png");
      background-position: 70% 0; } }
  .mv__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 69px 10px; }
    @media screen and (max-width: 768px) {
      .mv__inner {
        padding: clamp(42px, 11.2vw, 65px) 10px; } }
  .mv__hdg {
    line-height: calc(85 / 78);
    font-size: 7.5rem;
    color: #283c54;
    font-family: "Noto Serif JP", "Noto Sans JP", sans-serif;
    letter-spacing: 5px; }
    @media screen and (max-width: 768px) {
      .mv__hdg {
        font-size: clamp(40px, 10.67vw, 48px); } }
  .mv__txt {
    margin-top: 110px;
    font-family: "Noto Serif JP", "Noto Sans JP", sans-serif; }
    @media screen and (max-width: 768px) {
      .mv__txt {
        margin-top: 14.32vw; } }
  .mv__txtItem {
    line-height: calc(58 / 30);
    display: block;
    width: fit-content;
    padding: 0 4px 4px;
    font-size: 3.0rem;
    background-color: rgba(40, 60, 84, 0.7);
    color: #fff;
    letter-spacing: 1px; }
    @media screen and (max-width: 768px) {
      .mv__txtItem {
        font-size: clamp(18px, 4.33vw, 24px); } }
    .mv__txtItem + .mv__txtItem {
      margin-top: 16px; }

.lead .inner {
  padding-top: 79px;
  padding-bottom: 64px;
  background-image: url("../img/index-bg-01.png");
  background-position: center 10px;
  background-size: cover; }

.lead__txt {
  line-height: calc(48 / 24);
  text-align: center;
  font-size: 2.4rem; }
  @media screen and (max-width: 768px) {
    .lead__txt {
      font-size: 1.8rem; } }

.worry {
  background: white;
  background: linear-gradient(180deg, white 0%, #f9f8f8 30%, #edeaea 100%);
  overflow: hidden; }
  .worry .inner {
    position: relative; }
  .worry__hdg {
    position: relative;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    background-color: #283c54;
    padding: 28px 16px 60px;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .worry__hdg {
        text-align: center;
        padding: 14px 16px 44px; } }
  .worry__deco {
    position: absolute;
    transform: translate(0%, -50%);
    top: 42%;
    left: calc(50% - 320px);
    font-size: 4.8rem; }
    .worry__deco::after {
      position: absolute;
      content: "";
      width: 140px;
      height: 18px;
      background-image: url("../img/index-img-21.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
      bottom: -10px; }
    @media screen and (max-width: 768px) {
      .worry__deco {
        position: relative;
        margin: 0 auto;
        top: auto;
        left: auto;
        font-size: 2.4rem; }
        .worry__deco::after {
          width: 70px; } }
  .worry__hdgMain {
    line-height: calc(50 / 38);
    width: fit-content;
    margin: 0 auto 0 36%; }
    @media screen and (max-width: 768px) {
      .worry__hdgMain {
        margin-left: 0;
        width: 100%; } }
  .worry__hdgContent {
    font-size: 5rem; }
    @media screen and (max-width: 768px) {
      .worry__hdgContent {
        font-size: 2.8rem;
        margin-top: 16px; } }
  .worry__hdgPoint {
    font-size: 7.2rem;
    padding-top: 30px;
    background-position: top left -2px;
    background-repeat: repeat-x;
    background-size: 1em 1em;
    background-image: radial-gradient(#fff 12%, transparent 12%); }
    @media screen and (max-width: 768px) {
      .worry__hdgPoint {
        font-size: 3.8rem;
        padding-top: 14px;
        background-image: radial-gradient(#fff 8%, transparent 8%); } }
  .worry__lyt {
    display: flex;
    max-width: 742px;
    width: 100%;
    margin: 30px auto 0;
    gap: 20px;
    padding: 0 50px; }
    @media screen and (max-width: 768px) {
      .worry__lyt {
        flex-direction: column;
        padding: 0; } }
  .worry__content {
    width: 100%;
    padding-bottom: 52px; }
    .worry__content::before {
      position: absolute;
      content: "";
      width: 383px;
      height: 459px;
      bottom: 0;
      background-size: contain;
      background-position: 0 100%;
      background-repeat: no-repeat; }
    .worry__content:first-child::before {
      background-image: url("../img/index-img-01.png");
      left: -53px;
      width: 383px;
      width: clamp(150px, 29.92vw, 383px);
      height: 459px; }
    .worry__content:last-child::before {
      background-image: url("../img/index-img-02.png");
      right: -51px;
      width: 341px;
      width: clamp(140px, 26.64vw, 341px);
      height: 389px; }
    @media screen and (max-width: 768px) {
      .worry__content {
        position: relative; }
        .worry__content:first-child {
          padding-left: 50px; }
        .worry__content:last-child {
          padding-right: 50px; } }
  .worry__item {
    line-height: calc(37 / 20);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 230px;
    padding: 14px 16px 12px;
    font-size: 2.0rem;
    background-image: url("../img/index-img-23.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .worry__item + .worry__item {
      margin-top: 14px; }
    @media screen and (max-width: 768px) {
      .worry__item {
        font-size: 1.6rem;
        height: 190px; }
        .worry__item + .worry__item {
          margin-top: 0; } }
  .worry__underLine {
    position: relative; }
    .worry__underLine::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -10px;
      background-color: #8b97a7;
      width: 100%;
      height: 10px;
      border-radius: 8px; }

.about__ttl {
  text-align: center;
  font-size: 4.8rem;
  color: #283c54;
  font-weight: bold; }

.about__media {
  margin-top: 24px; }

.about__content {
  position: relative;
  border: 3px solid #283c54;
  border-radius: 3px;
  box-shadow: 5.035px 6.217px 5.7px 0.3px rgba(0, 0, 0, 0.42);
  padding: 40px 42px;
  margin-bottom: 89px; }
  @media screen and (max-width: 768px) {
    .about__content {
      padding: 32px 18px;
      margin-bottom: 60px;
      margin-top: 40px; } }

.about__contentHdg {
  position: absolute;
  transform: translate(0%, -50%);
  left: 0;
  top: 0;
  width: 260px;
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 20%, white 80%, rgba(255, 255, 255, 0) 100%); }

.about__contentHdgMain {
  position: relative;
  font-size: 2.4rem;
  color: #82623e; }
  .about__contentHdgMain::after, .about__contentHdgMain::before {
    position: absolute;
    content: "";
    width: 116px;
    height: 102px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
    top: 50%; }
  .about__contentHdgMain::after {
    left: 72px;
    background-image: url("../img/index-img-04.png"); }
  .about__contentHdgMain::before {
    right: -55px;
    background-image: url("../img/index-img-05.png");
    width: 130px; }

@media screen and (max-width: 768px) {
  .about__txt {
    font-size: 1.4rem; } }

.cause {
  position: relative;
  background-image: url("../img/index-img-22.png");
  background-position: center;
  background-size: cover; }
  .cause::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../img/index-bg-02.png");
    left: 0;
    top: 0; }
  .cause .inner {
    position: relative;
    z-index: 1; }
  .cause__deco {
    position: absolute;
    background-image: url("../img/index-img-06.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 80px 60px;
    top: 30px;
    left: -143px; }
    @media screen and (max-width: 768px) {
      .cause__deco {
        background-image: url("../img/index-img-06-sp.png");
        top: -3%;
        left: 0;
        width: clamp(150px, 60vw, 300px);
        box-sizing: border-box; } }
  .cause__decoTxt {
    display: block;
    width: fit-content;
    color: #6f2632;
    font-weight: bold;
    font-size: 2.4rem;
    transform: rotate(-15deg); }
    .cause__decoTxt > span::after {
      content: "";
      display: inline-block;
      width: 0;
      color: transparent;
      pointer-events: none; }
    @media screen and (max-width: 768px) {
      .cause__decoTxt {
        font-size: 1.4rem;
        transform: rotate(0);
        width: 84px;
        margin: 0 auto; } }
  .cause__ttl {
    color: #fff;
    padding-left: 90px; }
    @media screen and (max-width: 768px) {
      .cause__ttl {
        padding-top: 120px;
        padding-left: 0; } }
  .cause__desc {
    color: #fff;
    font-size: 2.4rem;
    text-align: center;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .cause__desc {
        font-size: 1.6rem; } }
  .cause__card {
    display: flex;
    gap: clamp(20px, 3.44vw, 44px);
    padding-bottom: 67px;
    margin-top: 40px; }
    @media screen and (max-width: 768px) {
      .cause__card {
        margin-top: 24px;
        flex-direction: column;
        gap: 12px; } }
  .cause__item {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .cause__media {
    position: relative;
    padding: 0 26px; }
    @media screen and (max-width: 768px) {
      .cause__media {
        max-width: 300px;
        margin: 0 auto; } }
  .cause__name {
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold; }
    .cause__name--01 {
      color: #283c54;
      top: 11%;
      right: 28%; }
    .cause__name--02 {
      color: #fff;
      top: 35%;
      right: 20%; }
    .cause__name--03 {
      color: #fff;
      top: 14%;
      right: 23%; }
  .cause__txtBox {
    padding: 40px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    height: 100%;
    margin-top: -30px;
    background-color: rgba(255, 255, 255, 0.6); }
    .cause__txtBox p {
      width: 100%; }

.diag {
  padding-bottom: 80px; }
  .diag__ttl {
    position: relative;
    color: #283c54;
    margin: 0 auto 45px;
    text-align: center; }
    .diag__ttl::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #283c54;
      transform: translate(-50%, -50%);
      top: 75%;
      left: 50%; }
    .diag__ttl::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      transform: translate(-50%, -50%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, white 35%, white 65%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      top: 75%;
      left: 50%;
      z-index: 0; }
    @media screen and (max-width: 768px) {
      .diag__ttl::before {
        top: 85%; }
      .diag__ttl::after {
        top: 85%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, white 25%, white 75%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%); } }
  .diag__ttlMain {
    position: relative;
    z-index: 1; }
  .diag__lyt {
    display: flex;
    gap: 4px; }
    .diag__lyt + .diag__lyt {
      margin-top: 40px; }
    @media screen and (max-width: 768px) {
      .diag__lyt {
        flex-direction: column; }
        .diag__lyt + .diag__lyt {
          margin-top: 16px; } }
  .diag__content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7f2fa;
    padding: 24px; }
    @media screen and (max-width: 768px) {
      .diag__content {
        width: 100%;
        padding: 16px;
        font-size: 1.4rem; } }
  .diag__media {
    display: flex;
    align-items: center;
    width: 50%;
    min-height: 400px;
    padding-bottom: 45px; }
    @media screen and (max-width: 768px) {
      .diag__media {
        width: 100%;
        min-height: 0;
        justify-content: center; } }
  .diag__mediaBg {
    position: relative; }
    .diag__mediaBg::after {
      position: absolute;
      content: "";
      width: 80%;
      padding-top: 75%;
      border-radius: 3px;
      border: 10px solid #283c54;
      bottom: -45px; }
  .diag__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 89%;
    margin-left: auto; }
  .diag__lyt--reverse {
    flex-direction: row-reverse; }
    .diag__lyt--reverse .diag__img {
      margin-right: auto;
      margin-left: 0; }
    .diag__lyt--reverse .diag__mediaBg::after {
      right: 0; }
    @media screen and (max-width: 768px) {
      .diag__lyt--reverse {
        flex-direction: column; } }
  .diag__message {
    line-height: calc(48 / 24);
    position: relative;
    text-align: center;
    font-size: 2.4rem;
    margin-top: 100px;
    margin-bottom: -30px;
    padding-bottom: 11.982570806100219%; }
    .diag__message::after {
      position: absolute;
      content: "";
      width: 100%;
      padding-top: 11.982570806100219%;
      background-image: url("../img/index-img-15.png");
      background-size: cover;
      margin-top: -30px;
      bottom: 0;
      left: 0; }
    @media screen and (max-width: 768px) {
      .diag__message {
        margin-top: 40px;
        font-size: 1.6rem; } }
  .diag__box {
    margin-top: 20px;
    background-color: #283c54;
    padding: 14px; }
  .diag__boxInner {
    display: flex;
    border: 3px dotted #536c8b;
    color: #fff; }
    @media screen and (max-width: 768px) {
      .diag__boxInner {
        flex-direction: column; } }
  .diag__column {
    width: 48%;
    background-image: url("../img/index-img-17.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right; }
    @media screen and (max-width: 768px) {
      .diag__column {
        width: 100%;
        max-width: 310px;
        margin: 0 auto; } }
  .diag__columnHdg {
    line-height: calc(37 / 22);
    margin-top: 15px;
    margin-left: 20px;
    background-image: url("../img/index-img-16.png");
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2.2rem;
    padding-bottom: 8px;
    max-width: 158px; }
  .diag__boxTxt {
    line-height: calc(32 / 16);
    width: 52%;
    padding: 32px 56px; }
    @media screen and (max-width: 768px) {
      .diag__boxTxt {
        width: 100%;
        padding: 18px; } }

.intro {
  background-color: #edeae6;
  padding-bottom: 83px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .intro {
      padding-bottom: 60px; } }
  .intro__ttl {
    position: relative;
    color: #6a6454;
    margin: 0 auto 45px;
    text-align: center; }
    .intro__ttl::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #6a6454;
      transform: translate(-50%, -50%);
      top: 75%;
      left: 50%; }
    .intro__ttl::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      transform: translate(-50%, -50%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, white 35%, white 65%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      top: 75%;
      left: 50%;
      z-index: 0; }
    @media screen and (max-width: 768px) {
      .intro__ttl::before {
        top: 85%; }
      .intro__ttl::after {
        top: 85%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, white 25%, white 75%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%); } }
    .intro__ttl::after {
      background: linear-gradient(90deg, rgba(237, 234, 230, 0) 0%, rgba(237, 234, 230, 0) 20%, #edeae6 35%, #edeae6 65%, rgba(237, 234, 230, 0) 75%, rgba(237, 234, 230, 0) 100%); }
  .intro__ttlMain {
    position: relative;
    z-index: 1; }
  .intro__slider {
    width: 100vw;
    margin: 0 calc(50% - 50vw); }
  .intro__listWrap {
    display: flex;
    overflow: hidden; }
  .intro__list {
    display: flex;
    animation: slider 25s infinite linear;
    width: 200vw; }
  .intro__item {
    width: calc(100vw / 2);
    padding-right: 24px; }
    @media screen and (max-width: 768px) {
      .intro__item {
        width: calc(100vw / 2);
        padding-right: 8px; } }

@keyframes slider {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

.faq {
  padding-bottom: 90px; }
  .faq__ttl {
    position: relative;
    color: #283c54;
    margin: 0 auto 45px;
    text-align: center; }
    .faq__ttl::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #283c54;
      transform: translate(-50%, -50%);
      top: 75%;
      left: 50%; }
    .faq__ttl::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      transform: translate(-50%, -50%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, white 35%, white 65%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      top: 75%;
      left: 50%;
      z-index: 0; }
    @media screen and (max-width: 768px) {
      .faq__ttl::before {
        top: 85%; }
      .faq__ttl::after {
        top: 85%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, white 25%, white 75%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%); } }
  .faq__ttlMain {
    position: relative;
    z-index: 1; }
  .faq__item {
    transition: height .3s;
    height: 100%; }
    .faq__item + .faq__item {
      margin-top: 10px; }
  .faq__q, .faq__a {
    text-align-last: left; }
  .faq__itemInner {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 3px;
    border: 4px solid #7b90aa;
    background-color: #7b90aa;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .faq__itemInner {
        padding: 12px 16px; } }
  .faq__inner {
    display: flex; }
  .faq__icn {
    width: 100px;
    margin-right: 43px;
    border-right: 4px solid #fff;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex; }
    .faq__icn span {
      display: inline-block;
      text-align: left;
      color: #fff;
      font-size: 4.8rem;
      font-weight: bold;
      font-family: "Noto Sans JP", sans-serif;
      line-height: 1; }
    @media screen and (max-width: 768px) {
      .faq__icn {
        margin-right: 16px;
        width: 45px;
        border-right: 2px solid #fff; }
        .faq__icn span {
          font-size: 2.4rem;
          line-height: 1.2; } }
  .faq__txt {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    padding-right: 150px;
    width: 100%;
    font-size: 2.0rem; }
    @media screen and (max-width: 768px) {
      .faq__txt {
        padding-right: 20px;
        font-size: 1.4rem; } }
  .faq__q {
    position: relative; }
    .faq__q::after {
      position: absolute;
      content: "";
      clip-path: polygon(100% 0, 0 0, 50% 100%);
      background-color: #fff;
      width: 15px;
      height: 15px;
      transform: translate(-50%, -50%);
      right: 45px;
      top: 50%;
      transition: transform .2s linear; }
    @media screen and (max-width: 768px) {
      .faq__q::after {
        right: 15px; } }
    .faq__q .faq__itemInner {
      cursor: pointer; }
  .faq__a {
    overflow: hidden; }
    .faq__a * {
      transition: border-top .2s ease-out, border-bottom .2s ease-out, padding-top .2s ease-out, padding-bottom .2s ease-out, margin-top .2s ease-out, margin-bottom .2s ease-out, opacity .2s linear , visibility .2s linear; }
    .faq__a .faq__itemInner {
      margin-top: 10px;
      background-color: #fff; }
    .faq__a .faq__icn {
      border-color: #7b90aa; }
      .faq__a .faq__icn span {
        color: #7b90aa; }
    .faq__a .faq__txt {
      color: #7b90aa; }
  .faq__item.js-faqOpen .faq__q::after {
    transform: rotate(180deg) translate(50%, 50%); }
  .faq__item.js-faqClose .faq__a * {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: 0 !important;
    opacity: 0 !important;
    visibility: hidden !important; }

.access {
  background-color: #edeae6;
  padding-bottom: 83px; }
  @media screen and (max-width: 768px) {
    .access {
      padding-bottom: 60px; } }
  .access__ttl {
    position: relative;
    color: #6a6454;
    margin: 0 auto 45px;
    text-align: center; }
    .access__ttl::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #6a6454;
      transform: translate(-50%, -50%);
      top: 75%;
      left: 50%; }
    .access__ttl::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 10px;
      transform: translate(-50%, -50%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, white 35%, white 65%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
      top: 75%;
      left: 50%;
      z-index: 0; }
    @media screen and (max-width: 768px) {
      .access__ttl::before {
        top: 85%; }
      .access__ttl::after {
        top: 85%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 10%, white 25%, white 75%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 100%); } }
    .access__ttl::after {
      background: linear-gradient(90deg, rgba(237, 234, 230, 0) 0%, rgba(237, 234, 230, 0) 20%, #edeae6 35%, #edeae6 65%, rgba(237, 234, 230, 0) 75%, rgba(237, 234, 230, 0) 100%); }
  .access__ttlMain {
    position: relative;
    z-index: 1; }
  .access__lyt {
    display: flex; }
    @media screen and (max-width: 768px) {
      .access__lyt {
        flex-direction: column;
        gap: 12px; } }
  .access__content {
    width: calc(50% - 24px);
    margin-right: 24px; }
    @media screen and (max-width: 768px) {
      .access__content {
        width: 100%;
        margin-right: 0; } }
  .access__hdg {
    width: 320px; }
    @media screen and (max-width: 768px) {
      .access__hdg {
        margin: 0 auto; } }
  .access__info {
    position: relative;
    margin-top: 34px;
    padding-left: 45px; }
    .access__info + .access__info {
      margin-top: 45px; }
    .access__info::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      top: 0;
      left: 0; }
    .access__info.address::before {
      background-image: url("../img/index-icon-02.png");
      width: 29px;
      height: 25px; }
    .access__info.time::before {
      background-image: url("../img/index-icon-03.png");
      width: 28px;
      height: 28px;
      top: 25px; }
    @media screen and (max-width: 768px) {
      .access__info + .access__info {
        margin-top: 16px; } }
  .access__btn {
    margin-top: 29px; }
    .access__btn .btn {
      display: block;
      max-width: 380px;
      border-radius: 1em;
      border: 2px solid #283c54;
      padding: 2px;
      background-color: #fff;
      text-decoration: none;
      min-width: 380px; }
      .access__btn .btn__inner {
        border-radius: .8em;
        background-color: #283c54;
        padding: 28px 30px; }
      .access__btn .btn__content {
        position: relative;
        padding-left: 65px; }
        .access__btn .btn__content::before {
          position: absolute;
          content: "";
          width: 35px;
          height: 38px;
          background-image: url("../img/index-icon-04.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 21px; }
        @media screen and (max-width: 768px) {
          .access__btn .btn__content {
            width: fit-content;
            margin: 0 auto; } }
      .access__btn .btn__txt {
        color: #fff;
        font-size: 2.2rem;
        line-height: 1; }
        .access__btn .btn__txt:last-child {
          margin-top: 4px;
          font-weight: bold;
          letter-spacing: .4em; }
    @media screen and (max-width: 768px) {
      .access__btn {
        margin-top: 16px; }
        .access__btn .btn {
          display: block;
          max-width: 100%;
          border-radius: 1em;
          border: 2px solid #283c54;
          padding: 2px;
          background-color: #fff;
          text-decoration: none;
          min-width: 0; }
          .access__btn .btn__inner {
            border-radius: .8em;
            background-color: #283c54;
            padding: 14px 18px; }
          .access__btn .btn__content {
            position: relative;
            padding-left: 45px; }
            .access__btn .btn__content::before {
              position: absolute;
              content: "";
              width: 25px;
              height: 28px;
              background-image: url("../img/index-icon-04.png");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 21px; } }
      @media screen and (max-width: 768px) and (max-width: 768px) {
        .access__btn .btn__content {
          width: fit-content;
          margin: 0 auto; } }
    @media screen and (max-width: 768px) {
          .access__btn .btn__txt {
            color: #fff;
            font-size: 1.6rem;
            line-height: 1; }
            .access__btn .btn__txt:last-child {
              margin-top: 4px;
              font-weight: bold;
              letter-spacing: .4em; } }
  .access__media {
    width: 50%; }
    .access__media iframe {
      width: 100%;
      height: 100%; }
    @media screen and (max-width: 768px) {
      .access__media {
        width: 100%;
        height: 300px; } }

.footer {
  padding: 45px;
  text-align: center;
  background-color: #283c54; }
  .footer__copylight {
    color: #fff;
    font-size: 1.4rem; }
